@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 79px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  letter-spacing: 0.1em;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

li {
  width: 100%;
}

.border-glow {
  background: rgba(47, 44, 92, 0.5);
  box-shadow: 0px 0px 40px rgba(121, 159, 255, 0.4),
    0px 0px 5px 1px rgba(219, 225, 255, 0.75);
  border-radius: 40px;
  transition: 0.4s all;
}
.border-glow:hover {
  background: rgba(82, 78, 133, 0.5);
  box-shadow: 0px 0px 60px rgba(121, 159, 255, 0.6),
    0px 0px 5px 1px rgba(219, 225, 255, 0.75);
  border-radius: 40px;
  transition: 0.4s all;
}

.glow {
  transition: 0.2s all;
  -webkit-animation: 0.2s all;
  -moz-animation: 0.2s all;
}

.glow:hover {
  filter: drop-shadow(0px 0px 10px #fff);
}

.grow {
  transition: 0.8s all;
  -webkit-animation: 0.8s all;
  -moz-animation: 0.8s all;
}
.grow:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
